<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/_header.css" />
  <title>TinyApp</title>
</head>
<body>
  <div class="header">
    <% include partials/_header.ejs %>
  </div>

  <p style="font-size: 2.5em;text-align: center; margin-top: 15%">Error <%= status %>: <%= message %></p>


</body>
</html>