<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/landing_page.css" />
  <title>TinyApp</title>
</head>
<body>
  <div>
    <h1>TinyApp</h1>
    <h3>For all your URL shortening needs</h3>
  </div>
  <div>
    <!-- login and register links/buttons -->
    <a id="login" href="/login">Login</a>
    <a id="register" href="/register">Register</a>
  </div>
</body>
</html>