<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div>
    <% include partials/_header.ejs %>
  </div>
  <table>
    <tr>
      <th>Original URL</th>
      <th>Shortened form</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% for (shortUrl in urls) { %>
    <tr>
      <td><%= urls[shortUrl] %></td>
      <td><%= shortUrl %></td>
      <!-- TODO copy to clipboard? -->
      <td><a href="<%= shortUrl %>">Edit</a></td>
      <td><form method="POST" action="/urls/<%= shortUrl %>/delete"><input type="submit" name="delete"></form></td>
    </tr>
    <% } %>
  </table>
  <a href='urls/new'>Shorten a URL</a>

</body>
</html>