<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="../public/css/_header.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/urls.css" />
</head>
<body>
  <div class="header">
    <% include partials/_header.ejs %>
  </div>
  <table>
    <tr>
      <th id="col1">Original URL</th>
      <th>Shortened form</th>
      <th></th>
      <th></th>
    </tr>
    <% for (shortURL in urls) { %>
    <tr>
      <td><%= urls[shortURL].longURL %></td>
      <td><%= shortURL %></td>
      <!-- TODO copy to clipboard? -->
      <td><a href="/urls/<%= shortURL %>">Edit</a></td>
      <td><form method="POST" action="/urls/<%= shortURL %>/delete"><input type="submit" value="Delete"></form></td>
    </tr>
    <% } %>
  </table>
  <a id="new-url" href='/urls/new'>Shorten a URL</a>


</body>
</html>