<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div>
    <% include partials/_header.ejs %>
  </div>
  <% if (user) { %>
  <table>
    <tr>
      <th>Original URL</th>
      <th>Shortened form</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% for (shortURL in urls) { %>
    <tr>
      <td><%= urls[shortURL].longURL %></td>
      <td><%= shortURL %></td>
      <!-- TODO copy to clipboard? -->
      <td><a href="/urls/<%= shortURL %>">Edit</a></td>
      <td><form method="POST" action="/urls/<%= shortURL %>/delete"><input type="submit" value="Delete"></form></td>
    </tr>
    <% } %>
  </table>
  <a href='urls/new'>Shorten a URL</a>
  <% } else { %>
  <p>You must be logged in to view your URLs</p>
  <% } %>

</body>
</html>